$filter-white: brightness(0) invert(1);
$filter-black: brightness(0);
$text-color: #fff;
$body-color: #000;
$light-gray-color: #808080;
$font-family: 'Mukta',
sans-serif;
$theme-color-one: #282f5f;
$theme-color-two: #ee2329;
$text-font-weight: 400;
$heading-font-weight: 700;
$overflow-x: hidden;
$img-width: 100%;
$section-margin: 30px;
$section-padding: 30px;
$z-index: 99;
$date-color: #97989b;
$border-category-color: #eaeaea;
$quote-color: #aeaeae;
$paragh-color: #5a5a5a;


